body {
   
    color: #ffffff;
    font-family: 'Segoe UI  ', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.scoreboard-wrapper {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 24px #0004;
    max-width: 400px;
    margin: 3em auto;
    padding: 2em 2em 1em 2em;
    text-align: center;
}


body {
    background-image: url('icon2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


body {
  cursor: url('zeiger.png'), auto;
}

/* Gilt nur beim Hovern über Links oder Buttons */
a, button {
  cursor: url('hover-icon.svg') 12 12, pointer;
}




 body {
      /*cursor: none;*/
      cursor: none;
      height: 100vh;
      background-color: #111; /* Dunkler Hintergrund, damit man den roten Punkt sieht */
    }
    .custom-cursor {
      width: 20px;
      height: 20px;
      background-color: #ff4757;
      border-radius: 50%;
      position: fixed;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 9999;
    }





